## Direnv configuration.
#  Sources all of the configurations loaded in .direnv/init.sh

## Set absolute path to repository root
export REPO_ROOT="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"

## Source direnv init
source_env_if_exists "./.direnv/init"
