###########
# General #
###########

## Default: Etc/UTC
TZ=

## Default: api_server_logs
API_SERVER_LOGS_DIR=
## Default: api_server_db
API_SERVER_DB_DIR=

## Default: INFO
API_SERVER_LOG_LEVEL=
## Default: /var/log/weatherapi-collector/app.log
API_SERVER_LOG_FILE_PATH=

############
# Database #
############

## Default: sqlite
API_SERVER_DB_TYPE=
## Default: sqlite+pysqlite
API_SERVER_DB_DRIVERNAME=
## Default: (none/unset)
API_SERVER_DB_USERNAME=
## Default: (none/unset)
API_SERVER_DB_PASSWORD=
## Default: (none/unset)
API_SERVER_DB_HOST=
## Default: (none/unset)
API_SERVER_DB_PORT=
## Default: /app/.db/weatherapi-collector.db
API_SERVER_DB_DATABASE=
## Default: false
API_SERVER_DB_ECHO=

###########
# FastAPI #
###########

## Default: false
API_SERVER_FASTAPI_DEBUG=
## Default: true
API_SERVER_FASTAPI_CORS=
## Default: /
API_SERVER_FASTAPI_ROOT_PATH=
## Default: "TheWeather API"
API_SERVER_FASTAPI_TITLE=
## Default: "Central server for receiving weather metrics retrieved by the collectors."
API_SERVER_FASTAPI_DESCRIPTION=
## Default: "0.1.0"
API_SERVER_FASTAPI_VERSION=
## Default: /openapi.json
API_SERVER_FASTAPI_OPENAPI_URL=
## Default: true
API_SERVER_FASTAPI_REDIRECT_SLASHES=
## Default: /docs
API_SERVER_FASTAPI_DOCS_URL=
## Default: /redoc
API_SERVER_FASTAPI_REDOC_URL=
## Default: (none/unset)
API_SERVER_FASTAPI_OPENAPI_PREFIX=
## Default: true
API_SERVER_FASTAPI_ROOT_PATH_IN_SERVERS=
## Default: false
API_SERVER_FASTAPI_INCLUDE_ADMIN_ROUTER=

###########
# Uvicorn #
###########

## Default: "api_server.main:app"
API_SERVER_UVICORN_APP=
## Default: "0.0.0.0"
API_SERVER_UVICORN_HOST=
## Default: 8000
API_SERVER_UVICORN_PORT=
## Default: /
API_SERVER_UVICORN_ROOT_PATH=
## Default: false
API_SERVER_UVICORN_RELOAD=
## Default: INFO
API_SERVER_UVICORN_LOG_LEVEL=
## Default: 1
API_SERVER_UVICORN_WORKERS=

############
# POSTGRES #
############

## Default: "bullseye". Tag for docker image (i.e. <image>:<tag>).
#   https://hub.docker.com/_/postgres/?tab=tags
POSTGRES_IMAGE_TAG=
## Default: postgres
POSTGRES_CONTAINER_NAME=
## Default: postgres
POSTGRES_USER=
## Default: postgres
POSTGRES_PASSWORD=
## Default: named volume "postgres_data"
POSTGRES_DATA_DIR=
## Default: 5432
POSTGRES_PORT=
## Default: unset
# Read section on this variable in docker docs before setting:
#   https://hub.docker.com/_/postgres/
POSTGRES_HOST_AUTH_METHOD=

###########
# PGADMIN #
###########

## Default: latest
#   https://hub.docker.com/r/dpage/pgadmin4/tags
PGADMIN_IMAGE_TAG=
## Default: pgadmin
PGADMIN_CONTAINER_NAME=
## Default: admin@example.com
PGADMIN_DEFAULT_EMAIL=
## Default: pgadmin
PGADMIN_DEFAULT_PASSWORD=
## Default: 15432
PGADMIN_PORT=
## Default: named volume "pgadmin_data"
PGADMIN_DATA_DIR=

#############
# PGBACKWEB #
#############

## Default: pgbackweb
PGBACKWEB_CONTAINER_NAME=
## Default: 8085
PGBACKWEB_WEBUI_PORT=
## Default: (named volume) pgbackweb_data
PGBACKWEB_BACKUPS_DIR=
## Default: (unset) generate with generate_pgbackweb_encryption_key.sh
PGBACKWEB_ENCRYPTION_KEY=
## Default: postgresql://postgres:postgres@postgres:5432/pgbackweb?sslmode=disable
PGBACKWEB_PG_CONNECTION_STRING=

###########
# MariaDB #
###########

## Default: mariadb
CONTAINER_NAME=

## Default: mysql
MYSQL_ROOT_PASSWORD=
## Default: mysql
MYSQL_DATABASE=
## Default: mysql
MYSQL_USER=
## Default: mysql
MYSQL_PASSWORD=
## Default: (named volume) mariadb_data
MYSQL_DATA_DIR=
## Default: ./data/docker-entrypoint
MYSQL_SCRIPT_INIT_DIR=
## Default: 3306
MYSQL_DB_PORT=

#########
# Redis #
#########

## Default: redis
REDIS_CONTAINER_NAME=
## Default: (named volume) redis_data
REDIS_CACHE_DIR=
## Default: 6379
REDIS_PORT=

## Default: redis-commander
REDIS_COMMANDER_CONTAINER_NAME=
## Default: 8081
REDIS_COMMANDER_PORT=

#########################
# Redis Commander WebUI #
#########################

## Default: redis-commander
REDIS_COMMANDER_CONTAINER_NAME=
## Default: 8081
REDIS_COMMANDER_PORT=
